<div fxLayout="Column" class="mat-red-A700 layout-container">
  <ngdz-header [quickpanelOpen]="quickpanelOpen$ | async" (toggledSidenav)="toggleSidenav()" (toggledQuickpanel)="toggleQuickpanel()"></ngdz-header>

  <mat-sidenav-container fxFlex fxLayout="Column">
    <mat-sidenav class="quickpanel-container" (open)="openQuickpanel()" (close)="closeQuickpanel()" [opened]="quickpanelOpen$ | async"
      align="end" mode="over">
      <ngdz-quickpanel></ngdz-quickpanel>
    </mat-sidenav>
    <mat-sidenav class="sidenav-container" (open)="openSidenav()" (close)="closeSidenav()" [opened]="sidenavOpen$ | async" align="start"
      [mode]="sidenavMode$ | async" [disableClose]="sidenavDisableClose$ | async">
      <ngdz-sidenav (toggledSidenavCollapse)="toggleSidenavCollapse()"></ngdz-sidenav>
    </mat-sidenav>
    <router-outlet fxFlex (activate)="onActivate()"></router-outlet>
  </mat-sidenav-container>
</div>
