<ngdz-layout>
  <ngdz-side-navigation [open]="showSidenav$ | async">
    <ngdz-navigation-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" routerLink="/" icon="book" hint="View your book collection">
      My Collection
    </ngdz-navigation-item>
    <ngdz-navigation-item (navigate)="closeSidenav()"
     *ngIf="loggedIn$ | async" routerLink="/books/find" icon="search" hint="Find your next book!">
      Browse Books
    </ngdz-navigation-item>
    <ngdz-navigation-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)">
      <a [routerLink]="['/login']">Sign In</a>

    </ngdz-navigation-item>
    <ngdz-navigation-item (navigate)="logout()" *ngIf="loggedIn$ | async">
      Sign Out
    </ngdz-navigation-item>
  </ngdz-side-navigation>
  <ngdz-header (openMenu)="openSidenav()">
    Angular DZ Enterprise Application Boilerplate
  </ngdz-header>

  <router-outlet></router-outlet>
</ngdz-layout>
