<div class="user-button-container" [mat-menu-trigger-for]="userMenu">
  <button class="user-button" mat-button (click)="isOpen = !isOpen" [class.open]="isOpen">
    <span fxLayout="row" fxLayoutAlign="start center">
      <span class="avatar-container" fxLayout="row" fxLayoutAlign="start center">
        <img class="avatar" src="assets/images/noavatar.png">
        <i class="status primary"></i>
      </span>
      <span class="name" fxHide fxShow.gt-sm>User Name</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>
</div>
<mat-menu yPosition="above" class="hide-y" [overlapTrigger]="false" #userMenu="matMenu">

  <button mat-menu-item routerLinkActive="active" routerLink="account/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button mat-menu-item routerLinkActive="active" routerLink="account/profile">
    <mat-icon>account_box</mat-icon>
    Profile
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    Disable notifications
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Sign Out
  </button>

</mat-menu>

